@font-face {
  font-family: 'Annie';
  src: url('src/fonts/AnnieUseYourTelescope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('src/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

:root {
  --font-family: 'Annie';
  --font-family: 'SFProDisplay';

  --color-btn: #ef7407;
  --color-hover: #fb9a44;
  --color-bg: #fefefe;
  --color-bg2: #ef7407;
  --color-text: #fefefe;
  --color-text2: #ef7407;
  --color-text3: #202020;
}
