.sidebar {
  /* width: 100%; */
  background-color: var(--color-bg2);
}

.logo {
  margin: 24px 35px;
}

.logoutBtn {
  margin-bottom: 20px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}
