.part {
  display: flex;
  flex-direction: column;
  margin: 40px 80px;
  align-items: center;
}

.part h3 {
  margin: 8px 0px;
  font-family: 'SFProDisplay';
  font-weight: 500;
  font-size: 96px;
  line-height: 104px;
  color: var(--color-text3);
}

.part img {
  width: 410px;
  height: 340px;
}

.part button {
  background-color: var(--color-bg);
  border: 0;
}

.part button:hover {
  cursor: pointer;
}
