.part0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 80px;
}

.part0 h3 {
  font-family: 'SFProDisplay';
  font-weight: 500;
  font-size: 96px;
  line-height: 104px;
  color: var(--color-text3);
}

.part0 img {
  width: 410px;
  height: 340px;
}

.arrow {
  padding: 0 300px;
  display: flex;
  justify-content: flex-end;
}

.btnNext,
.btnBack {
  background-color: var(--color-bg);
  border: 0;
}
.btnNext:hover,
.btnBack:hover {
  background-color: #edebeb;
  cursor: pointer;
}
