.adminEditingButton {
  padding: 10px;

  width: 180px;
  /* color: #ef7407; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminEditingButton span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
}

.icons button {
  background-color: var(--color-bg);
  border: 0;
}
