.arrowContainer {
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
}

.btnBack {
  transform: rotate(-180deg);
}

.btnNext,
.btnBack {
  background-color: var(--color-bg);
  border: 0;
}

.btnNext:hover,
.btnBack:hover {
  cursor: pointer;
}
